@import url('https://fonts.cdnfonts.com/css/nunito-sans');

@import "tailwindcss";
@plugin "daisyui";


* {
  scroll-behavior: smooth;
}

:root {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

html {
  transition: background-color 0.5s ease, color 0.5s ease;
}

